# Python virtual environment
venv/
*.venv/

# Python cache files
__pycache__/
*.pyc

# User-specific configuration and memory
config.json
memory.json

# Temporary files from Omni's run command
omni_saves
Testing

# AiModels
ollama
